<!-- File Upload -->
<div class="modal fade" id="modalUploadFile" data-backdrop="static" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-lg-4 col-md-4 col-form-label">File:</label>
                        <div class="col-lg-8 mx-auto">
                            <input class="form-control max-w-250px" accept=".csv" type="file" value="" id="CsvFile" placeholder="" />
                            <span class="form-text text-muted">Allowed files .csv</span>
                        </div>
                    </div>
                </form> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary font-weight-bold">Save</button>
            </div>
        </div>
    </div>
</div>
