@{
    ViewBag.Title = "Documents";
}


@section Scripts {
 
}

<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <!-- start: Table -->
            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap py-5">
                    <div class="card-title">
                        <h3 class="card-label">
                            Documents
                        </h3>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-separate table-hover table-head-custom table-checkable table-vertical-center" id="dtAccounts">
                        </table>
                    </div>
                </div>
            </div>
            <!-- end: table -->
        </div>
    </div>
</div>

